RewriteEngine on
Options -Indexes
ErrorDocument 403 /ImageUpload/sources/views/403.html
ErrorDocument 404 /ImageUpload/sources/views/404.html
Order deny,allow
Allow from *
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php