.bg-gradient-primary {
  background: linear-gradient(to top right, #219ebc, #023047);
}
body {
  min-height: 100vh;
}
input:focus {
  outline: none;
}
.btn-primary {
  background-color: #219ebc !important;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  transition: all 0.3s;
}
a.btn-primary:hover {
  color: white!important;
}

.btn-primary:hover {
  background-color: #023047 !important;
}


.text-primary {
  color: #219ebc !important;
}

a {
  text-decoration: none !important;
}
a:hover {
  color: #023047 !important;
}

.centered-content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.content-screen {
  min-height: calc(100vh - 112px);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
  position: relative;
}

.card-img-top::after {
  content: '';
  width: 100%;
  height: 200px;
  background-color: #219ebc;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 50;
}
